* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham-Book;
    outline: none;
    font-size: 100%;
}
@media screen and (max-width: 460px) {
    body {
        scroll-behavior: smooth;
        background-color: #101010;
        padding: 0 1rem 6rem;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        margin-top: 2.25rem;
        width: 100%;
        align-items: center;
    }
    .app-logo {
        width: 3.5rem;
    }
    .search-input {
        width: 100%;
        height: 2.5rem;
        border-radius: 12px;
        background-color: #252525;
        border: none;
        opacity: 100%;
    }
    .search-input::placeholder {
        font-size: 12px;
        color: #EBEBEB;
        opacity: 72%;
    }
    .more {
        display: flex;
        flex-direction: row;
        color: #EBEBEB;
        width: 100%;
        justify-content: space-between;
        padding: 0 .5rem 0;
        height: 2rem;
        font-size: 14px;
        margin: 1.5rem 0 0;
    }
    .more-btn {
        color: #E50914;
    }
    .poster {
        width: 100%;
        border-radius: 12px;
    }
    .search-input:placeholder-shown {
        color: #EBEBEB;
        padding-left: .75rem;
        font-size: 14px;
    }
    .search-input:not(:placeholder-shown) {
        color: #EBEBEB;
        padding-left: .75rem;
        font-size: 14px;
        font-weight: bolder;
    }
    .singers, .trendings {
        display: grid;
        grid-template-columns: repeat(6, 0fr);
        overflow-x: auto;
        overflow-y: hidden;
    }
    .singer {
        width: 6.375rem;
        height: 8.375rem;
        border-radius: 12px;
        margin-right: .75rem;
    }
    .singer1 {
        background: url(https://i.scdn.co/image/ab67616d0000b2732a038d3bf875d23e4aeaa84e);
        background-size: cover;
        background-position: 50%;
    }
    .singer2 {
        background: url(https://i.scdn.co/image/ab6761610000e5ebe707b87e3f65997f6c09bfff);
        background-size: cover;
        background-position: 50% 50%;
    }
    .singer3 {
        background: url(https://i.scdn.co/image/ab6761610000e5ebcdce7620dc940db079bf4952);
        background-size: cover;
        background-position: 50%;
    }
    .singer4 {
        background: url(https://i.scdn.co/image/ab6761610000e5eb5a00969a4698c3132a15fbb0);
        background-size: cover;
        background-position: 50%;
    }
    .singer5 {
        background: url(https://i.scdn.co/image/ab6761610000e5ebc8d3d98a1bccbe71393dbfbf);
        background-size: cover;
        background-position: 50%;
    }
    .singer6 {
        background: url(https://i.scdn.co/image/ab6761610000e5eba961383967f3a3a54e794a15);
        background-size: cover;
        background-position: 50%;
        margin-right: 0;
    }
    .trending {
        background-color: #E50914;
        width: 7.375rem; 
        height: 7.375rem;
        margin-right: .75rem;
        border-radius: 12px;
    }
    .trending1 {
        background: url(https://i.scdn.co/image/ab67616d0000b273a47c0e156ea3cebe37fdcab8);
        background-size: cover;
    }
    .trending2 {
        background: url(https://i.scdn.co/image/ab67616d0000b273935d8d5369bc55e74a39303e);
        background-size: cover;
    }
    .trending3 {
        background: url(https://i.scdn.co/image/ab67616d0000b2733e9c9181fb672f0a2e96f525);
        background-size: cover;
    }
    .trending4 {
        background: url(https://i.scdn.co/image/ab67616d0000b273da5d5aeeabacacc1263c0f4b);
        background-size: cover;
        background-position: 50%;
    }
    .trending5 {
        background: url(https://i.scdn.co/image/ab67616d0000b273eba68473429f9f4eaf1943d0);
        background-size: 150%;
        background-position: 50%;
    }
    .trending6 {
        background: url(https://i.scdn.co/image/ab67616d0000b2738a3f0a3ca7929dea23cd274c);
        background-size: cover;
        background-position: 50%;
        margin-right: 0;
    }
    .play-circle {
        position: relative;
        bottom: -70%;
        right: -65%;
    }
    .pause-btn {
        position: relative;
        bottom: -70%;
        right: -25%;
        display: none;
    }
    .menu-bar {
        display: flex;
        flex-direction: row;
        color: #EBEBEB;
        background-color: #101010;
        justify-content: space-between;
        width: 100%;
        height: 6rem;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 1rem 2.5rem 2rem 2.5rem;
        border-radius: 48px 48px 0 0;
    }
    .home-menu, .category-menu, .playlist-menu, .profile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
    .profile-btn img {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid #EBEBEB;
        border-radius: 50%;
    }
    .profile-menu {
        font-size: 14px;
        
    }
    .home-menu img, .category-menu img, .playlist-menu img {
        width: 1.5rem;
    }
    .home-menu p, .category-menu p, .playlist-menu p, .profile-menu p {
        padding-top: .5rem;
    }
    .home-menu p {
        color: #E50914;
    }
    .category-menu p, .playlist-menu p, .profile-menu p {
        opacity: 0;
    }
    .new-musics {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .new-music {
        background-color: #E50914;
        width: 48%;
        height: 9.375rem;
        margin-bottom: .75rem;
        border-radius: 12px;
    }
    .new-music-c1 {
        display: flex;
        justify-content: space-between;
    }
    .new-music-c2 {
        display: flex;
        justify-content: space-between;
    }
    .new-music-c3 {
        display: flex;
        justify-content: space-between;
    }
    .new-music1 {
        background-image: url(https://i1.sndcdn.com/artworks-000220797195-y4hfbb-t500x500.jpg);
        background-size: cover;
    }
    .new-music2 {
        background-image: url(https://i.scdn.co/image/ab67616d0000b273009516bc4f16759f46ded073);
        background-size: cover;
    }
    .new-music3 {
        background-image: url(https://i.scdn.co/image/ab67616d0000b273e7450b4f98230eb4186c5662);
        background-size: cover;
    }
    .new-music4 {
        background-image: url(https://i.scdn.co/image/ab67616d0000b2731802a56bb1927590b91677bd);
        background-size: cover;
    }
    .new-music5 {
        background-image: url(https://i.scdn.co/image/ab67616d0000b27353a2e11c1bde700722fecd2e);
        background-size: cover;
    }
    .new-music6 {
        background-image: url(https://i.scdn.co/image/ab67616d0000b2737a4781629469bb83356cd318);
        background-size: cover;
    }
}