* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}
@media screen and (max-width: 460px) {
    html {
        scroll-behavior: smooth;
    }         
    body {
        background-color: #151515;
        padding: 0 1rem 0;
        user-zoom: none;
    }
    .home-page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .app-logo {
        background-color: #151515;
        position: fixed;
        width: 100%;
        height: 4rem;
        top: 0;
        display: flex;
        text-align: center;
        z-index: +1;
    }
    .app-logo img {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 1rem;
        
    }
    .menu-bar {
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: #151515;
        position: fixed;
        bottom: 0;
        right: 0;
        justify-content: space-between;
        padding: 2.5rem 2rem 2.5rem 2rem;
    }
    .menu-bar i {
        color: #ffff;
        font-size: 24px;
    }
    .musics {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 4rem;
    }
    .music {
        background-color: #252525;
        width: 100%;
        height: 3.5rem;
        border-radius: 16px;
        margin-top: .5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: .75rem;
    }
    .music-num1 {
        margin-top: 0;
    }
    .music-text {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-left: .5rem;
        color: #ffff;
    }
    .music-btns {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .music-img {
        width: 2rem;
        height: 2rem;
        border-radius: .5rem;
    }
    .heart-btn {
        margin-right: .75rem;
        color: #ffff;
    }
    .music-btns i:not(.heart-btn) {
        color: #FF3D3D;
        font-size: 1rem;
        align-items: center;
    }
    .music-singer {
        font-size: 11px;
        opacity: 52%;
    }
    .music-text-img {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .stop-btn {
        width: 4rem;
        height: 4rem;
        background-color: #ff3d3d;
        position: fixed;
        bottom: 6.5rem;
        right: 1rem;
        border-radius: 50%;
        border: none;
        color: #ffff;
        animation: stop-btn .5s;
    }
    .home-page p {
        user-select: none;
    }
    .pause-btn {
        width: 5rem;
        height: 5rem;
        background-color: blue;
        position: absolute;
        top: 50%;
        right: 50%;
        color: white;
    }
    .pause-btn2 {
        display: none;
        animation: pause-btn2 .22s;
        margin-right: .5rem;
        z-index: 0;
        color: white;
        font-size: 2rem;
    }
    @keyframes stop-btn {
        0% {
            right: -10rem;
        }
        100% {
            right: 1rem;
        }
    }
    @keyframes pause-btn2 {
        0% {
            margin-right: 0;
        }
        100% {
            margin-right: .5rem;
        }
    }
}